body {
    background-color: #9a36b6bb;
    align-items: center;
    justify-content: center;
}

header h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ed0000;
}